// SCSS for Kyle Fontenot Portfolio
html {
  font-family: 'AttenRoundNew', sans-serif;
}

.hero.hero--header {
  max-height:30rem;

}
.hero.hero--header::after {
  display:none;
}
.hero__card {
  position:absolute;
  top:90%;
  left:20%;
  background-color:white;
  display:block;
  width:60%;
  box-shadow:-2px 20px 33px -7px #333;
}
main {
  margin-top:4rem;
}
