:root {
  --color-Primary: #0B9896;
  --color-Secondary: #E28B71;
  --color-Tertiary: #3C6B6A;
  --color-Quaternary: #FCEBD8;
}
html {
  font-family: 'AttenRoundNew', sans-serif;
  scroll-behavior:smooth;
}
body {
  margin:0 auto;
  background-color:#f5f5f5;
  width:100%;
}
h3 {
  font-family:'Mokoko';
  font-weight:200;
  font-size:1.5rem;
}
p {
  font-size:1.2rem;
  letter-spacing:0;
}
header {
  width:100%;
  display:block;
  position:relative;
  max-height:840px;
  /* height:30vh; */
}
nav {
  display:flex;
  justify-content:flex-end;
}
nav ul {
  justify-content:flex-end;
}
nav ul li {
  background-color:white;
  margin-left:0.5rem;
  margin-right:0.5rem;
  border-radius:16px;
  text-align:center;
}
nav ul li a {
  color:var(--color-Primary);
  font-family: 'AgletSans';
  font-size:1rem;
  letter-spacing:3px;
  /* padding: 1rem 1.4rem 1.4rem 0rem; */
  text-align:center;
  display:block;

  transition:all 0.4s;
}
nav ul li a:hover, nav ul li a:focus, nav ul li a:active {
  background-color:var(--color-Primary);
  background-image:none;
  box-shadow:6px -6px 8px -1px var(--color-Tertiary) inset, -3px 4px 8px -1px var(--color-Tertiary);
  color:white;
  font-family: 'AgletSans';
}

.hero.hero--header {
  background-image: url('img/portfolioBayer.svg');
  background-size:cover;
  background-position:70% 70%;
  background-repeat:no-repeat;
  box-shadow:none;
  -webkit-animation: none;
          animation: none;
  min-height:60rem;
  position:relative;
}
.hero.hero--header::after {
  display:none;
}
.hero.hero--header::before {
  box-shadow:none;
}
.hero__card {
  position:absolute;
  top:50%;
  left:10%;
  background-color:white;
  width:80%;
  box-shadow:-2px 15px 28px -10px #666;
  padding:1.5rem;
  transition: margin-top 0.8s, padding 0.8s, box-shadow 0.8s;
  border-radius:12px;
  margin-top:2rem;
}
.hero__card:hover {
  box-shadow:-6px 30px 33px -10px #444;
  margin-top:1.5rem;
}
.hero__card__photo {
  background-image: url('img/Profile4.png');
  background-size:100%;
  display:block;
  width:10rem;
  height:10rem;
  position:absolute;
  right:calc(50% - 5rem);
  top:-10rem;
  border:6px solid white;
  border-radius:100%;
  box-shadow:-2px 8px 12px -2px #444;
  transition:width 0.5s, height 0.5s, box-shadow 0.5s;
}
.hero__card__photo:hover {
  width:14rem;
  height:14rem;
  box-shadow:-10px 20px 24px -2px #444;
}
.hero__card__photo:active, .hero__card__photo:focus {
  width:14rem;
  height:14rem;
  box-shadow:-10px 20px 24px -2px #444;
}
main {
  background-color:white;
  /* max-width: 840px; */
  margin:0 auto;
  margin-top:2rem;
  border-radius:12px;
}
.container {
  padding:2rem;
  padding-top:4rem;

}
.col--centered {
  justify-content:center;
}
.logo--inline {
  height:4rem;
  display:inline;
}
.logo--block {
  width:100%;
  display:inline-block;
}
#introText {
  display:flex;
  flex-wrap: nowrap;
  flex-flow: row;
  justify-content:center;
  margin-bottom:2rem;
}
#introText * {
  padding-left:1.5rem;
}
hr {
  margin-bottom:3.5rem;
  margin-top:3.5rem;
}
ul {
list-style-image: url('img/list-image.png');
text-indent:1rem;
}

.sublist {
  display:flex;
  flex-wrap:wrap;
  align-content:space-between;
  margin-left:0;
}
.sublist li {
  max-width:50%;
  display:inline-block;
  padding:0.5rem;
  list-style-type: circle;
  color: #666;
}
.listdate {
  float:right;
  color: #666;
  display:inline-block;
  margin-top:-2.5rem;
}
.swatch--large {
  width:100%;
}
.swatch {
  transition: box-shadow 0.3s;
}
.swatch:hover {
  box-shadow: -5px 8px 20px -3px #444;
}
.col {
  width:100%;
}
.swatch p {

}
.swatch--portfolio {
  background-size:50%;
  background-position:50% 10%;
  background-repeat:no-repeat;
  background-color:white;
}
.swatch--portfolio p {
  background-color:rgba(60, 107, 106, 0.5);
}


#logo {
  color: rgba(255, 255, 255, 0);
  background-color:white;
  border-radius:12px;
  position:absolute;
  top:2rem;
  left:1rem;
  padding:1.2rem;
  width:80px;
  z-index:900;
}
#logo img {
  margin:0 auto;
  width:100%;
  /* display:block; */
}
.padded {
  padding:2rem;
}


@media (max-width:426px) {

}
@media (min-width:426px) {
  nav ul {
    justify-content:flex-end;
  }
  .hero__card__photo {
    right:-5rem;
    top:-6rem;
  }

  .hero__card {
    width:60%;
    left:20%;
    padding:4rem;
  }
  main {
    margin-top:2rem;
  }
  .container {
    padding:3rem;
  }

}
@media (max-width:768px) {
  .col.col--s-100 {
    max-width:100%;
    flex: 0 0 100%;
  }
  nav ul {
    flex-flow:column;
  }
}
@media (min-width:769px) {
  main {
    margin-top:2rem;
    max-width:none;
  }
  .col.col--l-50 {
    max-width:50%;
    flex: 0 0 50%;
  }
  .col.col--l-20 {
    max-width:20%;
    flex: 0 0 20%;
  }
  .col.col--l-30 {
    max-width:30%;
    flex: 0 0 30%;
  }
  .col.col--l-40 {
    max-width:40%;
    flex: 0 0 40%;
  }
  .col.col--l-60 {
    max-width:60%;
    flex: 0 0 60%;
  }
  .col.col--l-80 {
    max-width:80%;
    flex: 0 0 80%;
  }
  .hero__card {
    padding:3rem;
  }

}
@media (min-width:970px) {
  .col.col--xl-50 {
    max-width:50%;
    flex: 0 0 50%;
  }
  .col.col--xl-20 {
    max-width:20%;
    flex: 0 0 20%;
  }
  .col.col--xl-30 {
    max-width:30%;
    flex: 0 0 30%;
  }
  .col.col--xl-40 {
    max-width:40%;
    flex: 0 0 40%;
  }
  .col.col--xl-60 {
    max-width:60%;
    flex: 0 0 60%;
  }
  .col.col--xl-80 {
    max-width:80%;
    flex: 0 0 80%;
  }
  nav ul li a {
    padding:1.2rem 2.2rem;
  }
}
